


<ul class="nav nav-pills">
    <li [class.active] = "viewmode == 'map'"><a href = "" (click) = "viewmode = 'map'">Map</a></li>
    <li [class.active] = "viewmode == 'list'"><a href = "" (click) = "viewmode = 'list'">list</a></li>
</ul>
<div [ngSwitch] = "viewmode">
    <div *ngSwitchCase = "'map'">Map View Content</div>
    <div *ngSwitchCase = "'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<button (click) = "onChangeDetection()">Add</button>
<ul>
    <li *ngFor="let course of newCourses; index as i">
        {{i}} - {{course.Name}}
        <button (click) = "onRemove()">Remove</button>
    </li>
</ul>